.AddWeather{
    background: url('./components/appbg.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    position: absolute;
    height: 100vh; 
    width: 100vw;
    background-position: center; 
  }